@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  min-width: 1280px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.page-header-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  width: 340px;
}

.user-navigation {
  width: 268px;
  margin-left: auto;
}

.site-navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #298b4a;
  background-image: url("../images/covering-bg/hero-decoration-border.svg"), url("../images/covering-bg/hero-bg.jpg");
  background-position: bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-text-invitation {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
}

.advantages p {
  text-align: center;
}

.advantages-text-wrapper:first-of-type {
  width: 652px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.advantages-text-wrapper:nth-of-type(2) {
  width: 506px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.advantages-tagline {
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
}

.services-list {
  margin-bottom: 0;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.advantages-item.advantages-item-illustrated {
  width: 100%;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-illustrated .advantages-title {
  color: inherit;
}

.search {
  padding: 96px 0;
  text-align: center;
}

.search-content-wrapper {
  width: 592px;
  margin: 0 auto;
}

.search-title {
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.newsletter-content-wrapper {
  width: 684px;
  margin: 0 auto;
}

.newsletter-index {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/covering-bg/newsletter-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.newsletter-index .newsletter-title {
  color: inherit;
}

.newsletter input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f2f2f2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button-submit {
  background-color: #82b3d3;
}

.newsletter .button-submit {
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.catalog-main-top-container {
  padding: 70px;
  padding-top: 35px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/covering-bg/catalog-main-top-container-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-column {
  display: flex;
  justify-content: space-between;
}

.filter-column-left {
  width: 370px;
}

.filter-column-right {
  width: 550px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-column-left .catalog-filter-group {
  width: 150px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.price-selection-group {
  width: 288px;
  outline: 1px solid #ffffff; /*Устанавливает визуальную границу элемента*/
}

.price-selection-label {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}

.price-selection-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
}

.buttons-wrapper {
  width: 191px;
}

.button-reset {
  background-color: transparent;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-inner-container {
  display: flex;
  margin-bottom: 40px;
}

.searching-results-notice {
  width: 340px;
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-control {
  box-sizing: border-box;
  width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.layout-control-list {
  width: 160px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style: none;
  outline: 1px solid #ff6347;
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.hotel {
  width: 298px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-link {
  text-decoration: none;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-info {
  font-size: 18px;
  line-height: 21px;
}

.add-favorites {
  background-color: #82b3d3;
}

.added-favorites {
  background-color: #7db54f;
}

.rating-assessment {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-show-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px;
  padding-bottom: 30px;
}

.footer-social-list {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid #ff6347;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.htmlacademy-logo {
  width: 115px;
}
